.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.pending {
  min-height: 120px;
  aspect-ratio: 4/3;
}

.circle {
  border-radius: 50%;
}

.circle.pending {
  min-height: 2.5rem;
  aspect-ratio: 1;
}

.spinnerWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image.loaded {
  opacity: 1;
}
